#game {
	background-image: url('img/dh2.png');
	background-repeat: no-repeat;
	background-position: right;
	height: 600px;
	width: 900px;
	margin-top: 50px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	/* Disse gjør at man ikke kan dra markere fonter og elementer i spillet */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@font-face {
	font-family: Arcadefont;
	src: url('duckhunt.ttf');
}
#scoreboard {
	font-family: Arcadefont, arial-serif;
	font-size: 50px;
	color: black;
	float: right;

}

#timerboard {
	font-family: Arcadefont, arial-serif;
	font-size: 50px;
	color: black;
	float: left;

}

#weedH1 {
	font-family: Arcadefont, arial-serif;
	text-align: center;
	font-size: 50px;
	color: black;
}
#quotes {
	font-family: Arcadefont, arial-serif;
	display: inline-block;
	margin-top: 115px;
	margin-left: -140px;
	width: 130px;
	position: absolute;
}
#startknapp{
	background-color: red;
	width: 200px;
	height: 100px;
	margin-top: 200px;
	margin-left: 350px;
}
#starth1 {
	font-family: Arcadefont, arial-serif;
	text-align: center;
	font-size: 50px;
	color: black;
	margin-top: 25px;
}
#tittelh1 {
	font-family: Arcadefont, arial-serif;
	text-align: center;
	font-size: 75px;
	color: black;
	margin-top: 100px;
}
#snakkeboble {

	position: absolute;
	margin-top: 40px;
	margin-left: -60px;
	width: 300px;
	float: left;
	display: inline-block;
}
