/* DET ER BRUKT !important FLERE STEDER FOR Å OVERSTYRE BOOTSTRAP-CSS.*/
h1 {
	font-family: Arcadefont, arial-serif !important;
	text-align: center !important;
	font-size: 50px !important;
	color: black !important;
}
/* CSS-egenskaper til logo */
.logo {
  position: relative;
  display: inline-block;
  margin-top: 13px;
  margin-left: -8px;
}
/* CCS-egenskaper til navigasjonsmenyen */
.navbar-inverse {
  background-color: #1d1f21 !important;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
}

.active {
  font-family: 'Open Sans', sans-serif;
}

.nav a {
  font-size: 1.2em !important;
}

a {
  text-align: right;
}

.navbar .navbar-nav {
  float: right;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
}
/* CSS-egenskaper til body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* CSS-egenskaper for å midtstille spillet*/
#game {
  margin: auto;
}
/* CSS-egenskaper til om oss siden */
.omossheader {
  margin-top: 0%;
  margin-bottom: 2.5%;
}

.omosstekst {
  width: 40%;
  line-height: 200%;
}
/* Generelle CSS-egenskaper til p-taggen */
p {
  display: inline-block;
  text-align: center;
}
/* Overskrift på spillkode-siden */
.kodeh3 {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-top: 1.6%;
  margin-bottom: 2.9%;
  float: left;
}
/* CSS-egenskaper til spillmodusknappen */
.darkmodebutton {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}
.darkmode {
  border: none;
  outline: none;
}
/* CSS-egenskaper til CSS-kodeblokken på spillkode-siden */
.kodeblokkcss {
  width: 30%;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0;
  display: inline-block;
  margin-left: 3.8%;
  vertical-align: top;
}
/* CSS-egenskaper til javascript-kodeblokken på spillkode-siden */
.kodeblokkjs {
  width: 30%;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0;
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 1.7%;
}
/* CSS-egenskaper til HTML-kodeblokken på spillkode-siden */
.kodeblokkhtml {
  width: 30%;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0;
  float: left;
  vertical-align: top;
  margin-left: 2%;
}
/* CSS-egenskaper til tekst i kodeblokkene for å få lik utforming */
.prettyprint.lang-css.prettyprinted {
  text-align: left;
  padding: 0px;
  max-width: 100%;
  white-space: pre-line;
  margin: 0;
}

.prettyprint.lang-html.prettyprinted {
  text-align: left;
  padding: 0px;
  margin: 0;
  max-width: 100%;
}

.prettyprint.lang-js.prettyprinted {
  text-align: left;
  padding: 0px;
  margin: 0;
  max-width: 100%;
  white-space: pre-line;
}

xmp {
  max-width: 100%;
  white-space: pre-line;
  margin: 0;
  line-height: 2em;
}

pre {
  background-color: white !important;
}

pre.prettyprint {
  border: 0px !important;
  border-color: inherit !important;
}
/* CSS-egenskaper til overlay på om oss-siden */
.konteiner {
  position: relative;
  display: inline-block;
}
/* CSS-egenskaper til bilder på om oss-siden */
.image {
  position: relative;
  height: 150px;
  width: 150px;
}
/* CSS-egenskaper for å gjemme overlay på om oss-siden */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: #1d1f21;
}
/* CSS-egenskaper for å vise overlay på om oss-siden */
.konteiner:hover .overlay {
  opacity: 0.8;
}
/*Tekst på om oss netisden */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* CSS-egenskaper for å få riktig utforming på om oss siden */
@media(min-width: 992px) {
  .col5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 20% !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75% !important;
  }
}
.container {
  margin-top: 2.5%;
}

.navn {
  text-align: center;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* CSS-egenskaper til footer */
.snoopfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.instruksjonknapp {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}

#instruksjoner {
  display: none;
  width: 100%;
  line-height: 2em;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.darkmode:hover .tooltiptext {
    visibility: visible;
}
