/* styler game diven */
#game {
	background-image: url('../img/dh2.png');
	background-repeat: no-repeat;
	background-position: right;
	height: 600px;
	width: 900px;
	margin-top: 50px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	/* Disse gjør at man ikke kan dra markere fonter og elementer i spillet */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
/* sørger for bruk av ekstarn font */
@font-face {
	font-family: Arcadefont;
	src: url('duckhunt.ttf');
}

/* fast style for alle h1 elementer som vi lager */
.header1 {
	font-family: Arcadefont, arial-serif;
	text-align: center;
	font-size: 50px;
	color: black;
}
/* Unik egenskaper for hver h1 */
#restarth1 {
	margin: 10px auto;
}

#starth1 {
	font-size: 50px;
	margin-top: 25px;
}
#tittelh1 {
	font-size: 75px;
	margin-top: 100px;
}
#vinnh1 {

}
/* plassering til timer og score */
#scoreboard {
	float: right;
}

#timerboard {
	float: left;
}

/* plassering av qoutes div, som inneholder snakkebobler bilder */
#quotes {
	display: inline-block;
	margin-top: 115px;
	margin-left: -140px;
	width: 130px;
	position: absolute;
}

/* Gir fast style til alle knapper som vi lager */
.knapp {
	margin-top: 200px;
	margin-left: 350px;
	background-color: red;
}

/* Unike egenskaper for hver knapp */
#startknapp {
	width: 200px;
	height: 100px;
}

#restartknapp {
	width: 200px;
	height: 200px;
}

/* Styler plasseringen til snakkeboble bilder, som er inni qoutes  diven */
#snakkeboble {
	position: absolute;
	margin-top: 40px;
	margin-left: -60px;
	width: 300px;
	float: left;
	display: inline-block;
}


/* sørger for at hver plante er like stor, og plassert på samme 'y-akse' */
.weed {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 400px;
}

/* Gir politi bilen style og plassering */
#politi {
    position: absolute;
    margin-top: 497px;
    margin-left: 600px;
    float: right;
    display: inherit;
    width: -15%;
}

/* Gir gutten style of plassering */
#gutt {
    position: absolute;
    margin-top: 220px;
    margin-left: -200px;
    display: visible;
}

/* styler snoop gif-en når man vinner */
#snoopWin {
	float: right;
	position: absolute;
	margin-top: 255px;
	margin-left: 25px;
}

/* styler snoop gif-en når man taper */
#snoopLose {
	float: right;
	position: absolute;
	margin-top: 255px;
	margin-left: 25px;
}
